* {
    box-sizing: border-box;
}
body {
     background-color:black;
}
.header .container-1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    position: relative;

}
.container-1 {
    width: 100%;
    min-height: 100px;
    padding-left: 20px;
    padding-right: 20px;
    margin:0 auto 0 auto;
}
.links {
    margin-right: 20px;
    padding: 20px;
    list-style-type: none;

}
.links li {
    margin-right: 20px;
    font-size: 20px;;
    color:#FFFFFF;
    
}
.links a {
    color:#FFFFFF;
    text-decoration: none;
}

.logo {
   padding:20px;
   margin: 10px;
}

.counter {
    background-color: red;
    width:15px;
    height:15px;
    border-radius: 50%;
    position: absolute;
    top:10%;
    right:10%;
    color: #FFFFFF;
    font-size: 13px;
}
.cart {
   color: #FFFFFF;
   padding: 20px;
   font-size: 30px;
}
.search {
 color: #FFFFFF;
 padding:20px;
 font-size:30px ;
}
button.join {
    padding: 34px 20px;
    border-radius: 40px;
    border-color: #FFFFFF;
    width: 232px;
    height: 68px;
    box-shadow:0px 4px 14px #FFFFFF;
    
}
.t-join {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 28%;
    width: 164px;
    color: #000000;
    text-shadow: 0px 4px 4px #000000 25%;
}
button.order{
    padding: 34px 20px;
    border-radius: 40px;
    border-color: #FFFFFF;
    width: 232px;
    height: 68px;
   margin-top:20px;
    box-shadow:0px 4px 14px #FFFFFF;
}
.t-order{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 28%;
    width: 164px;
    color: #000000;
    text-shadow: 0px 4px 4px #000000 25%;
} 
.b-color{
    background-image: linear-gradient(rgba(0, 0, 0, 80%) 0%,rgba(0, 0, 0, 60%) 40%,rgba(0, 0, 0, 0%) 60%,rgba(0, 0, 0, 0%) 100%);
}
.top-sec {
  background-image: url("/imgs/burger pic.jpg");
  width: 100%;
  min-height:818px;
  background-position: center;
  background-size: cover; 
  opacity: 100%;
  box-shadow:0 4 4 0 #000000 25%;
  
}
.top-sec1{
    position: absolute;
    width: 652px;
    height: 466px;
    top: 29%;
    right: 25%;
}
.top-des{
    width:625px;
    height:358px;
}
.greet {
  width: 652px;
  height: 288px;
  text-align: left;
  padding-top: 2px;
  line-height: 96px;
  font-size: 66px;
  text-align: right;
  color: #FFFFFF;
  text-shadow: 0 4 4 0 #000000 25%;
}
.des{
 color: #FFFFFF;
 line-height: 30px;
 letter-spacing: 0%;
 font-size: 20px;
 width: 510px;
 height: 60px;
 text-align: left;
 margin-top: -8%;
}
.sect2-container {
      width:1170px;
      height: 646px;
      text-align: center;
      display: grid;
      grid-auto-flow: column;
      column-gap: 70px;
}
.sect2-title {
      width: 820px;
      height: 146px;
      text-align: center;
      margin: 16px;
      color: #FFFFFF;
}
.title {
     width:713px;
     height: 70px;
     font-size: 50px;
     font-weight: bold;
     line-height: 70px;
     letter-spacing: 0%;
     text-align: center;
     color: #FFFFFF;
}
.title-par{
      width:820px;
      height: 60px;
      font-size: 20px;
      font-weight: normal;
      text-align: center;
      letter-spacing: 0;
      line-height: 30px;
      color: #FFFFFF;
}
.sect2-des{
     width: 1170px;
     height: 430px;
    display: grid;
    row-gap: 87px;
    color: #FFFFFF;
} 
.title-des {
    width: 513px;
    height: 430px;
    font-size: 18px;
    line-height: 30px;
    text-align: left;
    letter-spacing: 0;
    color: #FFFFFF;
}
.link-page {
    font-weight: bold;
    color:#FFFFFF;
    font-size: large;
}
.video-img{
   width: 570px;
   height: 430px;
   border-radius: 12px;
}
.sect3-menu{

}
.container-menu{

}
.title-menu{

}
.menu-cat{

}
.container-food{

}
.sandwiches{

}
.des-food{

}
.sandwich-name{

}
.sandwich-des{

}
.sandwich-price{

}
.sandwich-cart{
    
}